
#switch_container {
    margin: 1%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin: auto;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #1177d1;
}
input:focus + .slider {
    box-shadow: 0 0 1px #1177d1;
}
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 25px;
}
.slider.round:before {
    border-radius: 50%;
}

.notify-success {
    position:absolute;
    width:100%;
    background-color:#55ee55;
    height:60px;
    color:#001100;
    display:block;
    text-align:center;
    padding:5px;
    margin:5px;
    font-size:2em;
    line-height:1em;
    font-family: Arial, sans-serif;
    border:3px solid #55dd55;
    cursor:pointer;
    animation: glow_green 3s infinite;
}

#block_quizchat_messages {
    max-width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.block_quizchat_msg_el {
    box-sizing:border-box;
    padding:0px;
    margin-right:1px;
    width: calc(100%-1px);
    font-family:sans-serif;
    font-size:13px;
}

.block_quizchat_msg_el .card-header {
    font-weight:800;
    color:#333333;
    padding:0px;
    font-size:11px;
    font-family:sans-serif;
    padding:0px;
    border:none;
}

.block_quizchat_msg_el.unread .block_quizchat_msg_el_header {
    font-weight:3em;
    color:#000000;
}

.msg-header {
    display: grid;
    grid-template-columns: 35px min-content auto auto;
    grid-gap: 0px;
}

.imgcontainer {
    position: relative;
    display:block;
}

.profileimg {
    display:block;
    border-radius: 50%;
}

.block_quizchat_msg_el .card-header div.fullname {
    padding:0px;
    overflow:hidden;
    color: #333333;
}


.block_quizchat_msg_el .msg-header .fullname.from {
    padding:0px 1px 0px 2px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    text-align: right !important;
}
.block_quizchat_msg_el .msg-header .fullname.to {
    padding:0px 1px 0px 1px;
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    text-align: right !important;
}

.block_quizchat_msg_el .card-header .row {
    width:100%;
}

.block_quizchat_msg_el .card-header .block_quizchat_user_icon {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.msg-header .tofrom.from {
    padding:0px 1px 0px 2px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: right;
}
.msg-header .tofrom.to {
    padding:0px 1px 0px 2px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: right;
}

.block_quizchat_msg_el .card-header .users {
    color: #333333;
    max-height:35px;
}

.block_quizchat_msg_el .card-body {
    padding-left:3px;
    padding-right:3px;
    padding-top:1px;
    padding-bottom:1px;
}


.block_quizchat_msg_el .card-header a:hover,
.block_quizchat_msg_el .card-header a:focus,
.block_quizchat_msg_el .card-header a:active {
    text-decoration:underline;
}
.block_quizchat_msg_el .card-header a:active {
}

.block_quizchat_msg_el .card-header a {
    display:inline;
    text-decoration:none;
}

.block_quizchat_msg_el .msg-header .timestamp {
    padding: 0px 2px 0px 0px;
    text-align:left;
    white-space:nowrap;
    text-align: right !important;
}

.block_quizchat_msg_area_body {
    max-height:400px;
    overflow-x: auto;
    overflow-y: scroll;
    padding:2px;
}

label#id_block_quizchat_users_select_label,
label#id_block_quizchat_questions_select_label,
label#id_block_quizchat_temp_menu_label {
    margin-left:0px;
    margin-right:0px;
    box-sizing:border-box;
    word-break: normal !important;
    white-space: nowrap;
}

#block_quizchat_instructor_form .col-form-label,
#block_quizchat_questions_form .col-form-label,
#block_quizchat_template_msgs .col-form-label{
    max-width:100%;
}

#fgroup_id_block_quizchat_msg_send_group {
    display:block;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px !important;
    width:100%;
}

#block_quizchat_instructor_form .felement,
#block_quizchat_questions_form .felement,
#block_quizchat_template_msgs .felement {
    display:flex;
    box-sizing:border-box;
    margin-left:0px !important;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
    width:100%;
    max-width:100%;
}

#block_quizchat_instructor_form .felement  .d-md-inline-block,
#block_quizchat_questions_form .felement  .d-md-inline-block,
#block_quizchat_template_msgs .felement  .d-md-inline-block{
    width: 100%;
    margin-right: 0 !important;
}

#fitem_id_block_quizchat_users_select .col-form-label,
#fitem_id_block_quizchat_questions_select .col-form-label,
#id_block_quizchat_temp_menu_label {
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
}

#fitem_id_block_quizchat_users_select input,
#fitem_id_block_quizchat_questions_select input,
#block_quizchat_messages #selectgroup select,
#fullscreen-page #selectgroup select {
    box-sizing:border-box !important;
    display:inline-block !important;
    margin-left:0px;
    margin-right:0px;
    width:100%;
    max-width:100%;
}

#block_quizchat_messages .groupselector,
#fullscreen-page .groupselector{
    display: block;             
    width: 100%;                
}

#block_quizchat_messages .d-inline-block,
#fullscreen-page .d-inline-block {
    display: block !important;            
}

#block_quizchat_instructor_form .input-group
{
    width:100%;
    margin-top: 15px;
}

#block_quizchat_student_send .block_quizchat_student_info,
.block_quizchat_instructor_info {
    box-sizing:border-box;
    font-size:11px;
    line-height:16px;
    vertical-align:middle;
    font-weight:600;
}
#block_quizchat_student_send .block_quizchat_student_info .icon,
.block_quizchat_instructor_info .icon {
    margin-right:1px;
    font-size:11px;
}

.selectparticipant .col-form-label,
.selectquestion .col-form-label  {
    padding-left: 0 ;
}
.selectparticipant .form-inline,
.selectquestion .form-inline   {
    padding-right: 0 ;
    padding-left: 16% ;
    width: auto;
}
.selectparticipant .d-md-inline-block input,
.selectquestion .d-md-inline-block input {
    max-width: 99% ;
    width: 100%;
}
#fitem_id_block_quizchat_users_select,
#fitem_id_block_quizchat_questions_select,
#fitem_id_block_quizchat_temp_menu {
    box-sizing:border-box;
    margin-left:0px !important;
    margin-bottom: 0px !important;
}

#fitem_id_block_quizchat_users_select select,
#fitem_id_block_quizchat_questions_select select,
#fitem_id_block_quizchat_temp_menu select
 {
    box-sizing:border-box;
    max-width:100%;
}

#fitem_id_block_quizchat_users_select [id^="form_autocomplete_selection-"],
#fitem_id_block_quizchat_questions_select [id^="form_autocomplete_selection-"],
#fitem_id_block_quizchat_temp_menu [id^="form_autocomplete_selection-"]
{
    display: flex;
    width: 100%;
}

#fitem_id_block_quizchat_users_select [id^="form_autocomplete_selection-"] span,
#fitem_id_block_quizchat_questions_select [id^="form_autocomplete_selection-"] span,
#fitem_id_block_quizchat_temp_menu [id^="form_autocomplete_selection-"] span
{
    margin-right: 5px;
}

#fitem_id_block_quizchat_users_select li,
#fitem_id_block_quizchat_questions_select li,
#fitem_id_block_quizchat_temp_menu li {
    display: flex;
}

#block_quizchat_input_instructor_send {
    box-sizing:border-box;
    max-width:100%;
    margin-left: 0 !important;
}

#block_quizchat_button_instructor_send{
    box-sizing:border-box;
    margin-top: 6px;
    z-index: unset;
    margin-right: 0 !important;
}

#block_quizchat_button_student_send{
    z-index: unset;
}

input-group-prepend {
    z-index:0;
}

.deleted_unenrolled_user {
    text-decoration: line-through;
}

#help_deactivated_students_msgs_help {
  font-weight: normal;
  padding-left: 15px;
  padding-top: 3px;
  display: none;
}
.statecircle-base {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    bottom: 0;
    right: 0;
    position: absolute;
}
.statecircle-base-menu {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    display:inline-block;
    vertical-align: middle;
  }
  .participant-name-menu,
  .questions-menu {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
}
.unenrolled {
    background-color: #d3d3d3;
}
.deleted {
    background-color: #d3d3d3;
}
.suspended {
    background-color: #d3d3d3;
}
.abandoned {
    background-color: #f08080;
}
.inprogress {
    background-color: #90ee90;
}
.noattempt {
    background-color: #efef6f;
}
.finished {
    background-color: #f08080;
}
/* Message header text decoration */
.divcontainer {
    position: relative;
}
.smallcircle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    display:inline-block;
    vertical-align: middle;
}
.state-color-circle {
    width: 8px;
    height: 8px;
}

/* Status colors key info area */
ul#block_quizchat_keyStatusColor {
    list-style:none;
    padding:0px;
    padding-left:16px;
    margin:0px;
}

#block_quizchat_keyStatusColor li {
    display:block;
    padding:0px;
    float:left;
    width:50%;
    font-weight:bold;
}

.line-with-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    position: relative;
}
.line-with-text hr {
    flex: 1;
    border: none;
    border-top: 1px solid #505050;
    margin: 0 10px;
}
.line-with-text span {
    padding: 0 10px;
    color: #505050;
}
#send_msg_not_allowed {
    display: flex;
    align-items: center;
}

#permission-link {
    margin-left: 5px; /* Add space between the elements */
    margin-top: -6px;
}

.form-autocomplete-suggestions {
    position: relative;
}

#block_quizchat_messages {
    position: relative !important;
}

.message-app .contact-status-sidemenu {
    position: absolute;
    left: 45px;
    top: 50px;
}

.header-container .contact-status-header {
    position: absolute;
    left: 50px;
    top: 44px;
}

a[id^="click_to_respond_link_"],
a[id^="questionref_link_"],
a[id="allmsgs_link"] {
    color: #0f6cbf;
    text-decoration: none;
    background-color: transparent;
}

a[id="allmsgs_link"]:hover, 
a[id^="click_to_respond_link_"]:hover, 
a[id^="questionref_link_"]:hover {
    text-decoration: underline;
}

.block_quizchat_msg_area_body .bg-light{
    background-color: #ffffff !important;
}

.block_quizchat_msg_area_body .bg-secondary{
    background-color: #EBEEEF !important;
}
#block_quizchat_messages .groupselector .custom-select,
#fs_bg .groupselector .custom-select,
.block-content .groupselector .custom-select {
    width: 100%;
}

.qc-ml-2 {
    margin-left: 0.5rem !important;
}
.qc-ml-auto {
    margin-left: auto !important;
}
.qc-text-left {
    text-align: left !important;
}
.qc-border-right {
    border-right: 1px solid #dee2e6 !important;
}
.qc-font-weight-light {
    font-weight: 300 !important;
}
.qc-font-weight-bold {
    font-weight: 700 !important;
}
.qc-no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.qc-ml-1 {
    margin-left: 0.25rem !important;
}
.qc-font-weight-bolder {
  font-weight: bolder !important;
}
.qc-font-weight-normal {
  font-weight: 400 !important;
}
#quizchat-temp-msgs .table-responsive {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}
#id_block_quizchat_temp_menu_label {
    margin-left: -11px !important;
    padding-bottom: 5px;
    padding-top: 10px;
}
#fitem_id_block_quizchat_temp_menu{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
#block_quizchat_template_msgs [id^="form_autocomplete_selection-"]{
    min-height: 0px !important;
    height: 0px !important;
    display: none !important;
}
form#block_quizchat_template_msgs {
    margin-bottom: 7px;
}
div[role="main"]:has(#quizchat-temp-msgs) {
    padding-left: 0px !important;
}
div[id^="id_config_header_"]:has(div[id^="fitem_id_config_templatemsgsmenu_"]) {
    margin-left: -26px;
}
.txt-truncate{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 50ch;
    display: inline-block;
    border: none;
}
.title-truncate{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 25ch;
    display: inline-block;
    border: none;
}
.tab-links {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.tab-link {
  cursor: pointer;
  text-decoration: none;
  color: #0f6cbf;
  margin-left: 10px;
}

.tab-link.active {
    color: #555;
  text-decoration: underline;
  text-decoration-color: #0f6cbf;   
  text-decoration-thickness: 2px; 
  text-underline-offset: 20px;  
}

.tab-content {
  display: none;
  padding: 20px;
  border-top: 1px solid #ccc;
  background-color: #f8f9fa;
  margin-top: 17px;
}

.tab-content.active {
  display: block;
}

.tab-link:hover {
  text-decoration: underline;
  text-decoration-color: #0f6cbf;   
  text-decoration-thickness: 2px; 
  text-underline-offset: 20px; 
}
#quiztempmsgs .table-responsive table,
#centraltempmsgs .table-responsive table {
    background-color: #f8f9fa !important;
}
#quiztempmsgs .table-responsive th,
#centraltempmsgs .table-responsive th {
    background-color: #f8f9fa !important;
}
#quizchat-createlink:hover {
text-decoration: underline;
  text-decoration-color: #0f6cbf;   
  text-decoration-thickness: 1px; 
  text-underline-offset: 5px; 
}
#centraltempmsgs .generaltable td:nth-child(4),
#centraltempmsgs .generaltable th:nth-child(4) {
    display: none !important;
}
#template-save-notice {
    margin-bottom: 10px;
    padding: 8px 12px;
}
/* Make sortable headers look like links */
#quizchat-temp-msgs .generaltable th.sortable {
    cursor: pointer;
    color: #0f6cbf;
}

/* On hover, emphasize like a link */
#quizchat-temp-msgs .generaltable th.sortable:hover {
    color: #0f6cbf;
    text-decoration: underline;
}

/* Arrows */
#quizchat-temp-msgs .generaltable th.sort-asc::after {
    content: " ▲";
    font-size: 0.8em;
}

#quizchat-temp-msgs .generaltable th.sort-desc::after {
    content: " ▼";
    font-size: 0.8em;
}